{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div class="row">
            <div class="col">
                <div class="home-holde text-center">
                    <h1 class="fs-1 fw-semibold">Notee <i class="bi bi-journal fs-2 fw-semibold"></i></h1>
                    <p class="fs-4">Create and edit notes</p>
                    <a href="{% url 'notes.list' %}" class="btn btn-success btn-sm">Create your first note</a>
                </div>
            </div>
        </div>

    {% endblock %}